DPWSim/.settings
DPWSim/.classpath
DPWSim/.project
DPWSim/bin

DPWSim-Client/.settings
DPWSim-Client/.classpath
DPWSim-Client/.project
DPWSim-Client/bin

DPWSim-Device/.settings
DPWSim-Device/.classpath
DPWSim-Device/.project
DPWSim-Device/bin

DPWSim-WS4D-JMEDS5/.settings
DPWSim-WS4D-JMEDS5/.classpath
DPWSim-WS4D-JMEDS5/.project
DPWSim-WS4D-JMEDS5/bin

XML-Pull-Parsing/.settings
XML-Pull-Parsing/.classpath
XML-Pull-Parsing/.project
XML-Pull-Parsing/bin